<div class="checkbox-container">
  <!-- <ng-container *ngIf="true; then loaded"></ng-container> -->
  <!-- <ng-template #loaded> -->
  <div class="list-behaviour">
    <mat-checkbox *ngFor="let option of options" class="checkbox-list__option"
      >{{ option.label }}
    </mat-checkbox>
  </div>
  <!-- </ng-template> -->
</div>
<!-- 
<div class="list-behaviour">
<mat-checkbox *ngFor="let option of options" class="checkbox-list__option"
  >{{ option.label }}
</mat-checkbox>
</div> -->
