.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 296px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 0px;
}
.buttons-arrange {
  display: flex;
  flex-wrap: wrap;
  width: 296px;
  height: 48px;
  justify-content: space-evenly;
}
.checkbox-list {
  .mat-checkbox-layout .mat-checkbox-label {
    line-height: 48px;
  }
  &__option {
    flex: 1 1 100%;
    padding-left: 16px;
  }

  &__button {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
