<section>
  <mat-toolbar class="toolbar">
    <div>
      <button mat-button class="button">Export Csv</button>
    </div>
  </mat-toolbar>
</section>
<section class="summary">
  <div class="header">EV Summary</div>
  <div class="sub-header">Created : 10 june 2022 08:50:11</div>
  <div class="footer">Reports Total For : 05/06/2022-06/06/2022</div>
</section>
<section class="filter">
  <div class="header">Filters</div>
</section>
<section class="tables">
  <div class="table-heading">Work Test</div>
  <hr />
  <table-basic></table-basic>
</section>
