.main {
  width: 100%;
}
.toolbar {
  display: flex;
  height: 48px;
  justify-content: flex-end;
}

.example-button-row {
  display: table-cell;
}

.button {
  height: 40px;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

.summary {
  min-height: 50px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0px 0px 5px;
}
.sub-header {
  font-size: 10px;
  margin: 0px 0px 25px 5px;
}
.footer {
  font-size: 15px;
  margin: 0px 0px 10px 5px;
}
.filter {
  min-height: 50px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.logs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  // margin-left: 56px;
  flex-direction: column;

  // &__header {
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-between;
  //   margin-top: 40px;
  // }

  &__table {
    width: 100%;
    margin-top: 8px;
    border-radius: 4px;
    background-color: white;
    &.mat-table {
      tr {
        .mat-column-responsive {
          font-size: 14px;
          &__field {
            flex: 1 1 100%;
            display: flex;
            padding: 5px;
          }

          &__label {
            font-weight: bold;
            flex: 1 1;
          }
          &__value {
            flex: 1 1;
          }

          &__value {
            overflow-wrap: anywhere;
            word-break: break-word;
          }
        }
      }
      th.mat-header-cell,
      td.mat-cell,
      td.mat-footer-cell {
        border-bottom-width: 1.5px;
        border-bottom-style: groove;
      }
      .footer-row {
        background-color: rgb(208, 208, 208);
        .footer-header {
          font-weight: bold;
          margin: 2px;
        }
      }
    }

    .mat-column-actions {
      width: 150px;
    }

    &-actions {
      display: flex;
      justify-content: flex-end;
      a,
      button {
        font-size: 12px;
        &[disabled] {
          background-color: transparent;
        }
      }
    }

    &-header--mw120 {
      max-width: 120px;
      button {
        text-align: left;
      }
    }
  }

  &__dialog-title.mat-display-1 {
    margin-bottom: 16px;
  }

  &__refresh {
    margin-right: 8px;
    height: 25px;
    line-height: 25px;

    mat-icon {
      transform: scale(0.8);
    }
  }

  &__last-update {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 1px;
    color: #59636b;

    strong {
      display: none;

      @media screen and(min-width:768px) {
        display: inline;
      }
    }
  }
}
